{% extends "nav.html" %}
{% block content %}
    
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <form class="d-flex">
            <a class="btn btn-success mr-5" href="{{ url_for('admin.add_product') }}">Add Products</a>
            <input class="form-control me-2" type="search" placeholder="Search Product " aria-label="Search">
            <button class="btn btn-outline-success ml-1" type="submit">Search</button>
        </form>
        </div>
    </nav>
    <table class="table table-light table-hover table-bordered " >
        <thead>
            <tr>
            <th scope="col">Image</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="col-md-auto">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Availablity</th>
            <th scope="col">Details</th>
            <th scope="col">Type</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            
                {% for product in products.items %}
                
                <div class="media-body">
                    <tr>
                        <td><img class="rounded-circle article-img" src="{{ url_for('static', filename= 'products_pics/' + product.image_file) }}"></td>
                        <td >{{ product.id }}</td>
                        <td >{{ product.product_name }}</td>
                        <td ><span style="white-space: nowrap;"><i class="fa fa-inr">&nbsp;</i>{{  "%.2f"|format(product.price) }}</span></td>
                        <td >{{ product.quantity }}</td>
                        <td >{{ product.availablity }}</td>
                        <td >{{ product.details }}</td>
                        <td >{{ product.type.product_type }}</td>
                        <td><a class="btn btn-warning btn-sm m-1 fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit Product" href="{{ url_for('admin.edit_product', product_id = product.id) }}"></a></td>
                        <td><a class="btn btn-danger btn-sm m-1 fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Product" href="{{ url_for('admin.delete_product', product_id = product.id) }}"> </a></td>
                    </tr>
                </div>
                {% endfor %} 
            
        </tbody>
        </table>
    
{% endblock content %}