{% extends "nav.html" %}
{% block content %}



      
    
<div class="container justify-content-md-center">
  <div class="row justify-content-md-center">
    <div>
      
    </div>
    <!-- <div class="col-4 dropdown ">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Products
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{{ url_for('admin.add_product') }}">Add Product</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.edit_product') }}">Edit Product</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.delete_product') }}">Delete Product</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.all_products') }}">Products</a></li>
      </ul>
    </div>
               
    <div class="col-4 dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Product Type
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Add Product Type</a></li>
        <li><a class="dropdown-item" href="#">Edit Product Type</a></li>
        <li><a class="dropdown-item" href="#">Delete Product Type</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Product Types</a></li>
      </ul>
    </div>
    
    <div class="col-4 dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Customer
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Add Customer</a></li>
        <li><a class="dropdown-item" href="#">Edit Customer</a></li>
        <li><a class="dropdown-item" href="#">Delete Customer</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Customers</a></li>
      </ul>
    </div> -->
  </div>
</div>





{% endblock content %}